<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- general webpage css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- specific webpage css -->
    <link rel="stylesheet" href="/css/style.quiz.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
    </style>
    <title>Scents Quiz</title>
  </head>

  <body>
    

    <div id="reg">
      <p>Want to register? <a href="/registration"> Registration Page </a><br></p>
        <a href="/login"><button type="button" class="btn btn-outline-dark">Login</button></a>
        <a href="/shop"><button type="button" class="btn btn-outline-dark">View Shop</button></a>

    </div>
    <div id="heading">
      <img src="/css/logo.png" alt="logo" id="logo">
      <h2>Let your <strong>scent</strong> do the talking</h2>
    </div>

    <div id="form">
      <h1>Find Your Match</h1>
      <form id="quiz" method="post" action="quiz-submit">
        <ol>
          <li class="quiz_list">
            <label for="recommended_scents_title">What scents do you like or do your friends recommend?</label>
            <input type="text" id="recommended_scents" name="scent_suggestions">
          </li>

          <li class="quiz_list">
            <fieldset>
              <legend>When would you like to wear your fragrance?</legend>

              <input type="radio" id="day_answer" name="day_or_night" value="day">
              <label for="day">Day</label><br />

              <input type="radio" id="night_answer" name="day_or_night" value="night">
              <label for="night">Night</label>
            </fieldset>
          </li>

          <li class="quiz_list">
            <fieldset>
              <legend>Do you prefer to wear your fragrance during any particular season?</legend>

              <input type="radio" id="season_summer" name="season" value="summer">
              <label for="summer">Summer</label><br />

              <input type="radio" id="season_autumn" name="season" value="autumn">
              <label for="autumn">Autumn</label><br />

              <input type="radio" id="season_winter" name="season" value="winter">
              <label for="winter">Winter</label><br />

              <input type="radio" id="season_spring" name="season" value="spring">
              <label for="spring">Spring</label>
            </fieldset>
          </li>

          <li class="quiz_list">
            <fieldset>
              <legend>Do you prefer more...</legend>

              <input type="radio" id="strength_masculine" name="gender" value="masculine">
              <label for="masculine">Masculine scents</label><br />

              <input type="radio" id="strength_no_pref" name="gender" value="no_gender">
              <label for="feminine">Neutral scents</label><br />

              <input type="radio" id="strength_feminine" name="gender" value="feminine">
              <label for="no_pref">Feminine scents</label>
            </fieldset>
          </li>

          <li class="quiz_list">
            <fieldset>
              <legend>How would you like to feel while wearing your fragrance?</legend>

              <input type="checkbox" name="moods" id="classic_mood" value="classic">
              <label for="classic">Classic</label><br />

              <input type="checkbox" name="moods" id="fresh_mood" value="fresh">
              <label for="fresh">Fresh</label><br />

              <input type="checkbox" name="moods" id="modern_mood" value="modern">
              <label for="modern">Modern</label><br />

              <input type="checkbox" name="moods" id="warm_mood" value="warm">
              <label for="warm">Warm</label><br />

              <input type="checkbox" name="moods" id="exotic_mood" value="exotic">
              <label for="exotic">Exotic</label><br />

              <input type="checkbox" name="moods" id="cool_mood" value="cool">
              <label for="cool">Cool</label>
            </fieldset>
          </li>

          <li class="quiz_list">
            <fieldset>
              <legend>What kind of scents would you like to wear...</legend>

              <input type="checkbox" name="scent_styles" id="floral_scent" value="floral">
              <label for="floral">Floral</label><br />

              <input type="checkbox" name="scent_styles" id="citrus_scent" value="citrus">
              <label for="citrus">Citrus</label><br />

              <input type="checkbox" name="scent_styles" id="woody_scent" value="woody">
              <label for="woody">Woody</label><br />

              <input type="checkbox" name="scent_styles" id="fruity_scent" value="fruity">
              <label for="fruity">Fruity</label><br />

              <input type="checkbox" name="scent_styles" id="spicy_scent" value="spicy">
              <label for="spicy">Spicy</label><br />

              <input type="checkbox" name="scent_styles" id="aquatic_scent" value="aquatic">
              <label for="aquatic">Aquatic</label>
            </fieldset>
          </li>
        </ol>

        <button type="submit" id="submit_btn">Submit Form</button>
      </form>

    </div>
    <% if(!cookieAllowed){%>
    <div id="cookie_popup">
      <p> We use third party cookies to personalize content, ads and analyze site traffic.</p>
      <a href="/acceptCookie"><button type="button" class="btn btn-outline-primary" id="cookie_btn">Accept</button></a>
      <button type="button" class="btn btn-outline-dark" id="deny_cookie_btn">Deny</button>
      
    </div>
<%}%>
  </body>

  <script src="/static_scripts/quiz.js"></script>
</html>